# Imprimante ZPL (thermique, port raw TCP 9100)
ZPL_PRINTER_HOST=192.168.1.63
ZPL_PRINTER_PORT=9100

# Dimensions de l'étiquette (mm) résolues la résolution de l'imprimante (dpi)
ZPL_LABEL_WIDTH_MM=40
ZPL_LABEL_HEIGHT_MM=25
ZPL_RESOLUTION_DPI=203